body {
  margin: 25px;
  background-color: #202325;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: aliceblue;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

.Kevin{
  height: 200px;
  
}


a{
  color: cornflowerblue;
}

input{
  background-color: darkgray;
}

textarea{
  background-color: darkgray;
}

.dot{
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;

}

h1, h3{
  color: #5eaaa8;
  font-weight: bold;
}

table tr td {
  font-size: 1,5vh;
}